<div class="emotion-container">
  <div class="emotion-card">

    <div class="app-header">
      <img src="logo.jpg" alt="Monstruo Amigo Icono" class="app-icon">
      <h1>Monstruos Amigos</h1>
    </div>

    <h2 class="main-title">{{ titulo }}</h2>

    <div class="question-section" *ngIf="preguntaActual && !registroEnviado">
      <p class="question-text">{{ preguntaActual.texto }}</p>

      <div *ngIf="preguntaActual.tipo === 'escala'" class="input-group scale-input">
        <label *ngFor="let opcion of preguntaActual.opciones; let i = index" class="scale-option">
          <input
            type="radio"
            name="escala"
            [value]="i + 1"
            [(ngModel)]="respuestaUsuario"
          >
          <span class="scale-label">{{ i + 1 }}</span>
          <span class="scale-description" *ngIf="opcion.includes('(')">{{ opcion.match("/\((.*?)\)/)?.[1]" "}}</span>
        </label>
      </div>

      <div *ngIf="preguntaActual.tipo === 'texto'" class="input-group text-input">
        <textarea
          rows="3"
          placeholder="Escribe aquí qué te hizo sentir así..."
          [(ngModel)]="respuestaUsuario"
        ></textarea>
      </div>
      <div *ngIf="preguntaActual.tipo === 'multiple'" class="input-group multiple-input">
        <div *ngFor="let opcion of preguntaActual.opciones" class="option-chip">
          <input
            type="radio"
            [id]="opcion"
            [value]="opcion"
            name="multiple-choice"
            [(ngModel)]="respuestaUsuario"

            hidden
          >
          <label [for]="opcion" class="chip-label">
            {{ opcion }}
          </label>
        </div>
      </div>

      <div class="action-buttons">
        <button class="discard-button" (click)="descartar()">Descartar</button>
        <button
          class="register-button primary-button"
          (click)="registrarEmocion()"
          [disabled]="respuestaUsuario === null || respuestaUsuario === ''"
        >
          Registrar
        </button>
      </div>
    </div>

    <div *ngIf="registroEnviado" class="success-message">
      <div class="icon-success">✔️</div>
      <p>¡Registro guardado! Tus datos se han sincronizado.</p>
      <p class="small-note">Gracias por ayudarnos a entender tus patrones emocionales.</p>
    </div>

  </div>
</div>
